---
layout: default
---

<article class="article">
  <h2 class="article__title article__title--single">{{ page.title }}</h2>
  <time class="article__date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{% if page.author %}By {{ page.author}} on {% endif %}{{ page.date | date: " %H:%M %b.%d-%Y" }}</time>
  {% if page.cover %}
    <div class="cover">
      <img src="{{ page.cover }}">
    </div>
  {% endif %}
  {{ content }}
  <span class="post-tags">
      🏷 &nbsp;&nbsp;
      {% for tag in page.tags %}
    	 <a href="/{{ site.tag_page_dir }}/{{ tag | slugify }}/">{{ tag }}</a>,&nbsp;&nbsp;
      {% endfor %}
  </span>

    <div class="PageNavigation">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{ page.previous.title | truncate: 20 }}</a>
      {% else %}
      <a class="prev"></a>
      {% endif %}
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{ page.next.title | truncate: 20 }} &raquo;</a>
      {% endif %}
    </div>
  {% if page.tail %}
    <div class="post-tags">{{ page.tail }}</div>
  {% endif %}
</article>

<!-- Comment -->
{% if site.enable_comment %}
<hr>
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  // id: '页面 ID', // 可选。默认为 location.href
  owner: 'b-liu14',
  repo: 'b-liu14.github.io',
  oauth: {
    client_id: '330c080c67573c519f91',
    client_secret: '3244461d56607775294995b638885104a7df5b35',
  },
})
gitment.render('container')
</script>
{% endif %}
